/* Created by: Evgeny Vovk
* Created on: May 2022
* This CSS file defines the style for index.html ICS2O-Unit6-01-HTML
*/

.margin-left {
  margin-left: 1em;
}

.margin-top {
  margin-top: 1em;
}

h1 {
  font-size: 250%;
  margin-left: 40px;
}

h2 {
  font-size: 200%;
  margin-left: 30px;
}

p {
  font-size: 150%;
}
